*{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.msudenver-logo{
	position:  absolute;
	left:  50px;
	top:   30px;
	width: 450px;
}
.msudenver-logo-change{
	left:  25px;
	width: 350px;
	top:  5px;
}
.magazine-logo{
	position: absolute;
	top: 10px;
	right: 50px;
	width: 400px;
}
.magazine-logo-change{
	position: absolute;
	width: 200px;

}
.row-fluid{
	padding-top: 25px;
	padding-bottom: 50px;
}
.container-fluid{
	height: 150px;
}
.container-fluid-change{
	height: 60px;
}

footer{
	text-align: center;
}

.sidebar-nav {
	padding: 9px 0;
}


.pad-left-by-x{
	margin-top: 0;
	font-size: 30px;
	margin-left: 80%;
}


.black-buttons > a{
	text-align: left;
	line-height: 2em;
	background-color: black;
	color:white;
}
.black-buttons > a:hover{

	color:black;
}
.sidebar-nav {
	line-height: 3em;
}



.carousel-caption {
	position: absolute;
	
	bottom: inherit;
	background: #333333;
	background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h2,
.carousel-caption p {
	line-height: 25px;
	color: #ffffff;
}

.carousel-caption h2 {
	margin: 10 0 5px;
}

.carousel-caption p {
	margin-bottom: 0;
}
.story-image{
	width: 100%;
}
.hero-image{
	width: 100%;
}

/* MAGAZINE PREVIEW STYLE*/
.magazine-preview {
	margin-top: 0;
	line-height: 1em;
}
.magazine-preview p{
	padding:10px;
	line-height: 1.4em;
	
	letter-spacing: 0.1em;
}

.magazine-preview > img {
	max-width: 100%;
}


