/**{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
*/

.magazine-logo-change, .msudenver-logo,.magazine-logo,
.magazine-logo-change,.container-fluid, a:hover, .carousel-caption{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.msudenver-logo{
	position:  absolute;
	left:  50px;
	top:   30px;
	width: 450px;
}
.msudenver-logo-change{
	left:  25px;
	width: 350px;
	top:  5px;
}
.magazine-logo{
	position: absolute;
	top: 10px;
	right: 50px;
	width: 400px;
}
.magazine-logo-change{
	position: absolute;
	width: 200px;

}
.row-fluid{
	padding-bottom: 25px;
}
.container-fluid{
	height: 150px;
}
.container-fluid-change{
	height: 60px;
}

.bs-docs-sidenav >  a:hover{
	color: black;
	background-color: white;
}

.black-buttons{
	padding-top: 15px;

}

.addthis{
	margin-top: 25px;
}
li.black-buttons > a {
	color:white;
	text-align: left;
	line-height: 2em;
	background-color: black;
	
}
.black-buttons >  a:hover{
	color: black;
	background-color: white;
}
.sidebar-nav {
	line-height: 3em;
}

.left-nav-1 > ul >li > a{
	color: white;
	text-shadow: black ;
}
.left-nav-1 > ul >li > a:hover{
	color: black;
	text-shadow: black ;
}	




/* 

	MAGAZINE PREVIEW
	-----------------

*/
.magazine-preview {
	cursor:pointer;
	margin-top:0;
	line-height: 1em;
	margin-top: 25px;
}
.magazine-preview p{
	color: inherit;
	padding:10px;
	line-height: 1.4em;
	letter-spacing: 0.1em;
}

.magazine-preview > img {
	margin: 0 auto 0 auto;
	width: 245px;
}







/* 

	SITE MANAGER NAVIGATION STYLE
	+-------------------------+

*/


.left-nav-1  {
	margin-left: 0;
	list-style: none;
}
.currentbranch0  > a {
	color: white;
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border-top: 1px solid #e5e5e5;
	border-bottom: none;
	border-left:none;
	border-right:none;
	text-decoration: none;
}
.multilevel-linkul-0 > li > a{
	color: white;
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	text-decoration: none;
}
.multilevel-linkul-0 > li {
	border-left: 1px solid #e5e5e5;
	text-decoration: none;
}



.currentbranch2 > a, .multilevel-linkul-1 > li > a{
	color: white;
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
	text-decoration: none;

}
.currentbranch1 > a{
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border-left: 1px solid #e5e5e5;
	border-bottom: none;
	text-decoration: none;
}



	/*active link element */

.currentbranch1 > a {
	border-left:none;
}
.currentbranch0  > ul > li {
	list-style: none;

}
.multilevel-linkul-0 > li > a{
	color: white;
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	text-decoration: none;

}
.multilevel-linkul-0 > li {
	list-style: none;
	text-decoration: none;
	background-color: #717073;
	border-top: 1px solid #e5e5e5;
	border-bottom: none;
	
}

	/* year label */

.currentbranch1 > a{
	color: white;
	text-decoration: none;
	background-color: #717073;
}
.multilevel-linkul-1 > li {
	background-color: #8A898d;
	list-style: none;
}

.currentbranch2 > a{
	color: black;
	display: block;
	margin: 0 0 -1px;
	padding: 8px 4%;
	background-color: rgb(0,68,124);
	background-color: white;

}


/* active or current issue color: #0088cc*/



	/* WHILE CARD SELCTOR*/


/*[class^="currentbranch"] > a,
[class*="currentbranch"] > a{
	border-left: none;
}*/
	
	/*hover*/

.currentbranch0 > a:hover, .multilevel-linkul-0 > li > a:hover , 
.currentbranch1 > a:hover, .multilevel-linkul-1 > li > a:hover, 
.currentbranch2 > a:hover{
	background-color: white;
	color: black;
}


/* 

	O V E R W R I T E S
	------+--------

 	for Bootstrap.css 
 	and docs.css 

*/


hr {
  margin: inherit;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.bs-docs-sidenav > li > a {
	border-left: none;
	border-right: none;
}


.footer-bg > p{
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	color:white;
	text-align: center;
	word-break: keep-all;
	
}
.footer-bg > p > a {
	color:white;
}
.footer-bg > p > a:hover {
	color: #0088cc;
}¨
.bs-docs-sidenav {
	padding: 0;
}

.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: inherit;
     -moz-border-radius: inherit;
          border-radius: 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: inherit;
     -moz-border-radius: inherit;
          border-radius: 0;
}

.navbar-fixed-bottom{
	background-color: rgb(0,0,0);
	position: relative;
}


/* SEARCH BOX STYLES */

.search-box > h4{ 
	width:auto;
}



.digital-edition > p{
	color: black;
	padding: 15px;
}


.left-nav-1 > ul > section > ul > li{
	background-color: white;
}
.left-nav-1 >  ul > li.search-box{
	background-color: white;
}
.left-nav-1 > ul >li:not(.digital-edition){
	color: white;
	text-shadow: black;
	background-color: #585759;
}
.search-box > h4{
	color:black;
	background-color: white;
}

.search-box {
	background-color: white;
}

.addthis_toolbox , .addthis_default_style, .addthis_32x32_style > li > a{
	padding: 0;
	margin-top: 0;

}


.navbar .btn-navbar .icon-bar {
	display: block;
	width: 30px;
	height: 5px;

}
.media-object{
	float: left;
	width: 64px;
}

section{
	padding: 0;
	margin:0;
}

.media-body  a ,
.media-body p{
	padding-left: 15px;
	color: black;
}

/*
	T H R E E - F E A T U R E -S E C T I O N
	---------------+---------------
*/
.three-feature-group{
	padding-top: -120px;
	margin-top: -125px;
}

.thumbnail{
	cursor:pointer;

	padding: 10px;
	height: auto;
}

.span12 {
    	padding-top: 125px;
}
.black-buttons-container > ul{
	padding-top: 25px;
	padding-bottom: 25px;
}
.three-feature-group >  .thumbnail {
	height: 390px;
}

.thumbnail > p > a{
	position: relative;
	/*top: 1025px;*/
}

.hero-image{
	cursor:inherit;
}
/*  
	-H E R O - U N I T- 
	------+--------

*/

/*.thumbnail.hero-unit{
	cursor:inherit;

}*/
.hero-unit{
	  /*background-color: inherit;*/
	  height: auto;
}
	/* CAROUSEL-CAPTION STYLES  */


.carousel-caption {
	cursor: pointer;
	position: relative;
	bottom: 145px;
	margin-top: 0;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 20px;
	background-color: #333333;
	background-color: rgba(0, 0, 0, 0.35);
}

.carousel-caption h2 {
	color: #ffffff;
	line-height: 35px;
	margin:0;
	padding: 0;
}

.carousel-caption:hover{
	background-color: rgba(0, 0, 0, 0.55);
}


table.caption{
	margin: 20px;
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-style: italic;
	font-size: 12px;
	line-height: 19px;
	color: rgb(115, 120, 126); 
	word-wrap: break-word; 

}



/*hr{
	border: 0.4px;
  	width: 90%;
	text-align: center;
	border-color: silver;
}*/
/*<hr align="center" size=".4"  color="silver" width="100%">*/

