*{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
a{

}
.msudenver-logo{
	position:  absolute;
	left:  50px;
	top:   30px;
	width: 400px;
	/*top:  5px;*/
}
.msudenver-logo-change{

	/*background-image: url("/img/responsive/msud-logo-C.png") ;*/
	/*background-repeat: no-repeat;*/
	left:  25px;
	width: 350px;
	top:  5px;
}
.magazine-logo{
	position: absolute;
	top: 10px;
	right: 50px;
	width: 400px;
}
.magazine-logo-change{
	position: absolute;
	/*top: 8px;*/
	width: 200px;

}
.row-fluid{
	padding-top: 25px;
	padding-bottom: 50px;
}
.container-fluid{
	height: 150px;
}
.container-fluid-change{
	height: 60px;
}


footer{

	text-align: center;
}

.sidebar-nav {
	padding: 9px 0;
}

/*#hero-text   {
	width: 250px;
	padding-left:  450px;
}

#hero-text  button {
	margin-left:  160px;
	font-size: 40px;
	
}*/

.pad-left-by-x{
	margin-top: 0px;
	font-size: 30px;
	margin-left: 80%;
}


