/*
	@media querie syntax ::
	viewport is 700px wide or wider ..
	@media (min-width: 700px) { ... }

*/





/*  
		          _*_ 
	
	L A R G E - D E S K T O P - V I E W
	      





*/





/*  
		     _*_ 
	
	D E S K T O P - V I E W
	      

*/
@media (min-width: 1200px){

	.carousel-caption{
		float: right;
		
	}
	.magazine-logo{
		top: 25px;
	}
	.magazine-logo-change{
		top: 10px;
	}
	.span12 {
              	padding-top: 165px;
		padding-bottom: 40px;
	  }
	
}

@media (min-width: 980px) and (max-width: 1199px){

	/* Enable use of floated navbar text */

	.navbar-text .pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* MSU-DENVER Magazine @media queries @DV */

	.carousel-caption{
		float: right;
		position: absolute;
		top: 350px;
		left: 700px;
		right: 150px;
		width:250px;
		/*margin: 10% auto 10% auto;  centering */ 
	}



/*
		:- N O T  E -:

	Class chaining ie.
	
	.foo.bar { } 	<~ not allowed in IE 6 

	Just in case this style provides a reset 
	id for older browsers.

*/
	.row-fluid .span12 {
		padding: 165px 15% 40px 15%;	
	
	}
	#main-container{
		padding-top: 165px;
		padding-bottom: 40px;
	}
	.magazine-logo{
		top: 25px;
	}
	.magazine-logo-change{
		top: 10px;
	}
}

/*
	                             _*_
	
	S M A L L - T A B L E T - P O R T R A I T
		        
		          (600x800)

*/
@media (min-width: 600px) and (max-width: 979px){
	
	
	.msudenver-logo{
		display: none;
	}
	.magazine-logo{
		top: 35px;
	}
}

@media(min-width: 481px) and (max-width:599px){
	
	.carousel-caption  {
		position: relative;
		margin: inherit;
		right: inherit;
		top: inherit;
		left: inherit;
		width: 100%;
		
	}
	.msudenver-logo, .msudenver-logo {
		display: none;
	}
	.magazine-logo{
		top: 35px;
	}
}

/*  
		        _*_ 

	M O B I L E - P O R T R A I T

*/
@media (min-width: 350px) and (max-width: 480px){
	.row-fluid{
		padding-top: 0;
		margin-top: -50px;
	}
	#left-side-nav{
		margin: 0;
		padding: 0;
	}
	.magazine-preview > img{
		display: none;
	}

	.container-fluid{
		height: 80px;
	}
	.magazine-logo{
		left: 15px;
		width: 320px;
	}
	.msudenver-logo{
		display: none;
	}
	.carousel-caption  {
		position: relative;
		padding-bottom: 50px; 
		margin: 0 auto 0 auto;
	}
	
}


/*  < 349 */
@media (max-width : 349px){

	.msudenver-logo{
		display: none;
	}
	.container-fluid{
		height: 80px;
	}


}

