/*
	@media querie syntax ::
	viewport is 700px wide or wider ..
	@media (min-width: 700px) { ... }

*/


/*  
		          _*_ 
	
	L A R G E - D E S K T O P - V I E W
	      





*/


/*  
		     _*_ 
	
	D E S K T O P - V I E W
	      

*/
@media (min-width: 1200px){
	.span9{
		padding-right: 25px;
	}

	.magazine-logo{
		top: 25px;
		/*padding-right: 25px;*/

	}
	.magazine-logo-change{
		top: 10px;
	}
	.span12 {
        		padding-top: 125px;
	
	  }
	
}

/*  
			_*_ 
	
	S M A L L  D E S K T O P/L A R G E  T A B L E T - V I E W
	      

*/
@media (min-width: 980px) and (max-width: 1199px){
	.carousel-caption {
		bottom: 140px;
	}

	/* Enable use of floated navbar text */

	.navbar-text .pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* MSU-DENVER Magazine @media queries */

	.carousel-caption{
		width: auto;
	}



/*
		:- N O T  E -:

	Class chaining ie.
	
	.foo.bar { } 	<~ not allowed in IE 6 

	Just in case this style provides a reset 
	id for older browsers.

*/
	

	.magazine-logo{
		top: 25px;
	}
	.magazine-logo-change{
		top: 10px;
	}

	.thumbnail > p > a{
		position: relative;
		top: 0;
		
	}

}

/*
	                             _*_
	
	T A B L E T - H O R I Z O N T A L (iPad)
		        
*/

@media (min-width: 768px) and (max-width: 979px){
	.carousel-caption {
		bottom: 140px;
	}

	.container-fluid{
		height: 100px;
	}
	.thumbnail > p > a{
		position: relative;
		top: 0;
		
	}
	.span12 {
        		padding-top: 0;
	
	  }

	.msudenver-logo{
		display: none;
	}
	.magazine-logo{
		top: 35px;
	}
	.three-feature-group >  .thumbnail {
		height: inherit;
	}
}

/*
	                             _*_
	
	T A B L E T - P O R T R A I T


*/
@media (min-width: 481px) and (max-width: 767px){
	.carousel-caption {
		bottom: 150px;
	}

	.container-fluid{
		height: 60px;
	}
	.thumbnail > p > a{
		position: relative;
		top: 0;
		
	}
	.row-fluid{
		margin:0;
	}
	
	.span12 {
		margin-top: 0;
        		padding-top: 0;
	}

	.msudenver-logo, .msudenver-logo {
		display: none;
	}
	.magazine-logo{
		left: 10px;
	}
	.three-feature-group >  .thumbnail {
		height: inherit;
	}
}



/*  
		        _*_ 

	M O B I L E - P O R T R A I T

*/
@media (min-width: 320px) and (max-width: 480px){
	.three-feature-group{
		position: relative;
		padding-top: 0;
		margin-top: 0;
	}
	.carousel-caption {
		bottom: 30px;
		margin-right: 0;
		margin-left: 0;
		/*position: relative;*/
		/*top: 0px;*/
		margin-top:0;
		margin-bottom: 0;
		background-color: rgba(0,0,0,1);
	}

	.bs-docs-sidenav{
		padding: 0; margin:0;
	}
	.span3, .left-nav-1{
		padding: 0;
		margin:0;
	}
	.addthis_toolbox , .addthis_default_style, .addthis_32x32_style  {
		padding: 0;
		display: block;
		
		margin: 0;
	}
	.search-box{
		display: none;
	}
	.left-nav-hidden{
		display: none;
	}
	.span12{
		padding: 0;
		margin: 0;
	}
	.navbar-fixed-top{
		margin-bottom: 0;
	}
	.row-fluid{
		
	}
	.left-nav, .left-nav-1{
		padding: 0;
	}

	/* MAGAZINE SECTION */
	
	.magazine-preview{
		display: none;
	}
	.black-buttons{
		display: none;
	}

	.container-fluid{
		height: 40px;
	}
	.magazine-logo{
		left: 15px;
		width: 300px;
	}
	.msudenver-logo{
		display: none;
	}
	.carousel-caption  {
		position: relative;
		margin-top:0;
	}
	/* MEDIA OBJECTS */

	/* media objects row 2nd */
	.row-fluid:nth-child(3){
		/*padding-top: 50px;*/
	}
	.media{
		margin:0;
		padding-top: 15px;
	}
	.media-body {
		margin: 0;
		padding: 0;
		width: auto;
		padding-left: 10px;
	}

	/* ADD THIS MEDIA */
	.addthis{
		display: none;
	}

	.three-feature-group >  .thumbnail {
		height: inherit;
	}

	/* RESET MARGINS FOR MOBILE */
	.thumbnail.span6{
		margin-left:0;
	}
	a.btn,  a.btn-inverse{
		display: none;
	}

	
}
