/*
	
	 viewport is 700px wide or wider ..
	 @media (min-width: 700px) { ... }
*/

@media (min-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* insert */


}

/*  <= 320*/
@media (min-width: 0px) and (max-width:320px){
	.container-fluid{
		height: 15px;
	}
}

/*  >= 320*/
