*{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.msudenver-logo{
	position:  absolute;
	width: 400px;
	left:  50px;
	top:  25px;
}
.msudenver-logo-change{
	position:  absolute;
	width: 350px;
	left:  25px;
	top:  5px;
}
.magazine-logo{
	position: absolute;
	top: 25px;
	left: 60%;
	width: 400px;
}

.magazine-logo-change{
	position: absolute;
	top: 8px;
	left: 80%;
	width: 200px;

}

.row-fluid{
	padding-top: 25px;
	padding-bottom: 50px;
}
.container-fluid{
	height: 150px;
}
.container-fluid-change{
	height: 60px;
}

body {
	padding-top: 165px;
	padding-bottom: 40px;
}
footer{

	text-align: center;
}

.sidebar-nav {
	padding: 9px 0;
}

#hero-text   {
	width: 250px;
	padding-left:  450px;
}

#hero-text  button {
	margin-left:  160px;
	font-size: 40px;
	
}

.pad-left-by-x{
	margin-top: 0px;
	font-size: 30px;
	margin-left: 80%;
}


