*{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.msudenver-logo{
	position:  absolute;
	left:  50px;
	top:  50px;
}
.magazine-logo{
	position: absolute;
	top: 25px;
	left: 70%;
	width: 300px;
}

.magazine-logo-change{
	position: absolute;
	top: 8px;
	left: 80%;
	width: 200px;

}

.row-fluid{
	padding-top: 25px;
	padding-bottom: 50px;
}
.container-fluid{
	height: 150px;
}
.container-fluid-change{
	height: 10px;
}

body {
	padding-top: 165px;
	padding-bottom: 40px;
}
footer{

	text-align: center;
}

.sidebar-nav {
	padding: 9px 0;
}

#hero-text {
	max-width: 300px;
	min-width: 300px;
	padding-left: 500px;
}

#hero-text .more-btn > button {
	font-size: 30px;
	margin-left: 90%
}

.pad-left-by-x{
	margin-top: 0px;
	font-size: 30px;
	margin-left: 80%;
}


