/*
	
	 viewport is 700px wide or wider ..
	 @media (min-width: 700px) { ... }
*/

@media (min-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* our media queries  */

	body {
		padding-top: 165px;
		padding-bottom: 40px;
	}


}

/*  < 550  */
@media (max-width : 550px){
	.container-fluid{
		position: relative;
		padding-top: 0px;
		margin:auto;
	}
	.msudenver-logo{
		position:  absolute;
		width: 400px;
		left:  0px;
		top:  50px;
	}
	img.msudenver-logo{
		background-image: url("/img/responsive/msudenver-logo-resposive.png") no-repeat; 
	}
	.magazine-logo{
		position:  absolute;
		width: 200px;
		left:  550px;
		top:  70px;

	}

}

