* {
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#msudenver-logo{
	position:  absolute;
	left:  50px;
	top:  50px;
}
#magazine-logo{

	padding-left:  59%;
	
}
#black-container{
	height: 150px;
}
.row-fluid{
	padding-top: 25px;
	padding-bottom: 50px;
}
.container-fluid{
	height: 150px;
}

body {
	padding-top: 165px;
	padding-bottom: 40px;
}
footer{
	
	text-align: center;
}

.sidebar-nav {
	padding: 9px 0;
}

#hero-text {
	max-width: 300px;
	min-width: 300px;
	padding-left: 500px;
}

#hero-text .more-btn > button {
	font-size: 30px;
	margin-left: 90%
}

.pad-left-by-x{
	margin-top: 0px;
	font-size: 30px;
	margin-left: 80%;
}

/*
.more-btn .btn .btn-primary .btn-large
{
  -webkit-border-radius: 500px;
     -moz-border-radius:  500px;
          border-radius: 500px;
}*/


@media (min-width: 320px) and (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	#magazine-logo {
		padding-left:  59%;
		padding-top: 10px;
		padding-right: 500px;
	}
	#black-container{
		height: 150px;
	}
}
@media (min-width: 320px) {
	/* Enable use of floated navbar text */
	#magazine-logo {
		padding-left: 15px;
		padding-top: 10px;
		max-width: 80%;
		
	}
	#black-container{
		height:  100px;
	}


	#hero-text {

		text-align: right;
		max-width: 300px;
		min-width: 300px;
		padding-left: 0px;
	}
	#hero-text > #more-btn button{
		padding-left: 0px;
	}
}