#left-nav-1,  #black-buttons, { display: none; }
#search-box { display: none; }
#logoprint { color: #000; text-decoration: none;}


body {line-height: 1.4em; font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;}

/* --- */
.left {float:left; margin-right:5px; margin-bottom:5px;}
.right{float:right; margin-left:5px; margin-bottom:5px;}