/* MSU-DENVER Magazine @media queries */

/*
	Large devices
Desktops (≥1200px)
*/
@media (min-width: 1200px){
	.magazine-logo{
		top: 25px;
		padding-right: 25px;
	}
	.magazine-logo-change{
		top: 10px;
	}
	.container{
	padding-top: 0;
	margin-top: 0;
	}
}

/*
	Medium devices
Desktops (≥992px)
*/
@media (min-width: 992px) and (max-width: 1199px){
	.magazine-logo{
		top: 25px;
		padding-right: 25px;
	}
	.magazine-logo-change{
		top: 10px;
	}
	.container{
		padding-top: 0;
		margin-top: 0;
	}
}

/*
	                             _*_

	T A B L E T - H O R I Z O N T A L (iPad)

*/

/*@media (min-width: 768px) and (max-width: 979px){
	.magazine-logo {
		width: 200px !important;
	}
	#main-container {
		margin-top: 50px !important;
	}

	.row .col-md-4 {
    		width: 41.623932%;
    		padding: 15px;
   	 	margin-left: 0;
   	 	border: none;
	}
	.carousel-caption {
		bottom: 145px;
	}

	.container-fluid{
		height: 100px;
	}
	.thumbnail > p > a{
		position: relative;
		top: 0;

	}

	.msudenver-logo{
		display: none;
	}
	.magazine-logo{
		top: 35px;
	}
	.three-feature-group >  .thumbnail {
		height: inherit;
	}
}*/

/*
	   Small devices
Tablets (≥768px)

*/
/*@media (min-width: 769px) and (max-width: 991px){*/
/*@media (max-width: 991px){
	.magazine-logo {
		left: 15px;
		width: 200px !important;
	}

	#main-container {
		margin-top: 50px !important;
	}
	#left-nav {
	    margin-top: 40px;
	}
	.container{
		padding-top: 0;
		margin-top: 0;
	}*/
	/*table.caption{
		margin: 10px 100px 25px 100px;
	}*/
	/*table.caption > p{
		margin-top: 100px;
		position: relative;
		min-width: 300px;
	}*/
	/*.col-md-3, .left-nav-1{
		padding-top: 0;
		margin-top: -60px;
	}*/
	/*.container-fluid{
		height: 60px;
	}*/
	/*.thumbnail > p > a{
		position: relative;
		top: 0;
	}*/
	/*.carousel-caption{
		margin-bottom: 0;
	}*/

/*
	.container-fluid{
		height: 60px;
	}


	.three-feature-group >  .thumbnail {
		height: inherit;
	}
	.magazine-preview, .search-box,.addthis, .black-buttons,
	.msudenver-logo {
		display: none;
	}*/
	/*.col-md-4 ,.thumbnail {
		margin-top: 40px;
	    padding-bottom: 10px;
	}*/

/*}*/



/*
				Extra small devices
				Phones (<768px)
*/
@media (max-width: 992px){
	.magazine-logo {
		width: 200px !important;
	}

	#main-container {
		margin-top: 80px !important;
	}

	/*.col-md-12, .col-md-9{
		padding-top: 0;
		margin-top: 0;
	}*/
	/*#left-nav {
	    	margin-top: -20px;
	}*/
	/*.col-md-4 ,.thumbnail {
	   	padding-bottom: 10px;
    		margin-bottom: 25px;
	}*/
	/*.col-md-3{
		margin-top: -40px;
		margin-bottom: 30px;
	}*/

	/*	HIDE         */
	.msudenver-logo, li.black-buttons,.magazine-preview,
	.search-box, .left-nav-hidden, .addthis{
		display: none;
	}

	/*	RESET MARGINS      */
	.sidebar-nav , .bs-docs-sidenav ,.nav-list,
	 .nav .left-nav-1, .nav-collapse, .collapse,
	 .three-feature-group, .media-body, .media, .addthis{
	 	position: relative;
		margin:0;
		padding: 0;

	}

	/*	BLACK HEADER CONTAINER HEIGHT*/
	.container-fluid{
		height: 60px;
	}
	.magazine-logo{
		left: 15px;
		width: 300px;
	}

	.thumbnail-feature {
		position: relative;
		margin-top:10px;
		margin-right:10px;
		margin-left:-10px;
		background: black;
	}
	/* MEDIA OBJECTS */

	/* media objects row 2nd */

	.media{
		padding-top: 25px;
	}
	.media-body, .media-heading {
		margin:0;
		padding-top: 0;
		padding-left: 10px;
	}

	/* ADD THIS MEDIA */

	/*.three-feature-group >  .thumbnail {
		height: inherit;

	}*/
	/*.three-feature-group{
		margin:0;
		padding: 0;
	}*/
	/* RESET MARGINS FOR MOBILE */
	/*.thumbnail.col-md-6{
		margin-left:0;
	}*/

	/*.thumbnail-feature {
		bottom: 30px;
		margin:0;
		background-color: rgba(0,0,0,1);
	}*/

}
